/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 
 body {
    font-family: 'Segoe UI', 'Helvetica Neue';
    background-color: #f9fafb;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2em;
    color: #1d1d1d;
    margin-bottom: 0.25em;
}

h3 {
    color: #727272;
    margin-top: 0;
}

form {
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 80%;
}
input[type="file"] {
    padding: 8px;
    border-radius: 6px;
    width: 80%;
}

input[type="submit"],
button {
    background-color: #51b354;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #419345;
}

a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    }

.grid-container {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.grid-item button{
    background-color: rgb(223, 78, 78);
}

.jump-date {
    margin-left: 8px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.meal-form {
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   border-style: solid;
   border-width: 1px;
}